@model WebApp.Models.category

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/_Shared/_DetailsView.cshtml";
}

<h4>Category Details</h4>
<hr />
<div class="input-items">
    @Html.LabelFor(model => model.category_name,
   htmlAttributes: new { @class = "control-label col-md-2" })
</div>

<div class="input-items">
    @Html.TextBoxFor(model => model.category_name, null,
   new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
</div>

<div class="row">
    <div class="input-items col-1">
        @Html.ActionLink("Edit", "Edit", new { id = Model.category_id },
       new { @class = "btn btn-default border" })
    </div>
    <div class="input-items col-2">
        @Html.ActionLink("Back to List", "Index", null,
       new { @class = "btn btn-default border" })
    </div>
</div>

