@model IEnumerable<WebApp.Models.tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_Shared/_IndexLayout.cshtml";
}

@section title {Tag}

@section fieldName
{
    <th>ID</th>
    <th>Name</th>   
}

<!-- RenderBody -->
@foreach (var item in Model)
{
    <tr>
        <td style="width: 50px">
            <span class="custom-checkbox">
                <input type="checkbox"
                       id="checkbox"
                       name="options[]"
                       value="1">
                <label for="checkbox1"></label>
            </span>
        </td>
        <td style="width: 50px">
            @Html.DisplayFor(modelItem => item.tag_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tag_name)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Tags",
        new { id = item.tag_id })">
                <i class='bx bxs-edit-alt float-end fs-4 me-1 ms-1'></i>
            </a>
            <a href="@Url.Action("Details", "Tags",
        new { id = item.tag_id })">
                <i class='bx bx-detail float-end fs-4 me-1 ms-1'></i>
            </a>
        </td>
    </tr>
}