@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: dodgerblue; font-size: 45px;">
        <h1>XEDAP</h1>
    </div>
    <div>
        <pre>
            Chào bạn,
            Chúng tôi đang xác nhận đến mail của bạn. Để đổi mật khẩu vui lòng click
        <a href="@ViewBag.ConfirmationLink">Here</a>
        </pre>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $("a").on("click", function () {
            var href = $("a").attr('href')
            Session["user_name"] = "minh"
        })
    </script>
</body>
</html>
