@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style
{
    <link href="~/Content/admin-site/admin-site.css" rel="stylesheet" />
}

@section scripts
{
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });
    </script>
}


<div class="container-fluid">
    <div class="row min-vh-100 flex-column flex-md-row">
        <div class="col-12 col-md-3 col-xl-2 p-0 bg-dark ">
            <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 sticky-top " id="sidebar">
                <div class="text-center" style="color: white">
                    <h2>ADMIN PAGE</h2>
                </div>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#nav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse order-last" id="nav">
                    <ul class="navbar-nav flex-column w-100 justify-content-center">
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Customer</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Staff </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Category </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Brand </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link p-3"> Product </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid col-12 col-md-9 col-xl-10 p-0">
            @RenderBody()
        </div>
    </div>
    
</div>